
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oxanium&family=Roboto:wght@500&family=Source+Sans+Pro&display=swap');

body {
    margin: 0;
    font-family: "Lato";
}
ul {
    list-style: none;
    padding: 0;
}

button {
    color: white;
    background-color: #0284c7;
    border-radius: 50px;
    border-style: none;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
}
.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar maincontent";
}

.header {
    grid-area: header;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-bottom: 20px;
}
.top-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "search user-info";
}
.top-right-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding: 1rem;
    justify-items: center;
    align-items: center;
}

.search-bar-container {
    display: grid;
    grid-template-columns: 3rem auto;
    align-items: center;
    padding-left: 1rem;
}

.search-bar {
    height: 2rem;
    width: 70%;
    background-color: lightgray;
    border: none;
    border-radius: 20px;
}
.user-icon {
    display: grid;
    align-content: center;
    justify-content: center;
}

.user-icon>img {
    height: 5rem;
    border-radius: 50%;
    grid-area: icon;
}



.user-icon-mini {
    height: 3.5rem;
    border-radius: 50%;

}

.notification-icon,
.search-icon {
    height: 2.2rem;
}

.user-name-mini {
    font-size: 1.4rem;
    font-weight: 600;
}

.search-bar-container {
    grid-area: search;
}


.bottom-bar {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    padding: 1rem;
}

.greeting {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: 
    "icon"
    "greeting";
    margin-left: 2rem;
    align-items: center;
}
.greeting-text-content {
    display: grid;
}

.hi-there {
    font-weight: 650;
    margin: 0;
}
.user-name {
    font-size: 1.8rem;
    font-weight: 650;
    margin: 0;
    margin-top: 1rem;

}
.share-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    grid-area: sidebar;
    background-color: #0284c7;
    display: grid;
    grid-template-rows: .2fr 1fr 1fr;
}

.sidebar-icon {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
}

.sidebar-main,
.sidebar-bottom {  
    display: grid;
    row-gap: 1rem;
    align-content: start;
    padding-left: 1rem;
}

.sidebar-bottom-settings,
.sidebar-bottom-support,
.sidebar-bottom-privacy {
    height: fit-content;
}

.sidebar-main>div,
.sidebar-bottom>div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-content: center;
}

.main-content {
    background-color: #f1f5f9;
    grid-area: maincontent;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "projects side";
    padding: 1rem;
}
.project-section {
    padding: 1rem;
}

.projects-side {
    grid-area: side;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(390px, 1fr) );
    grid-template-rows: repeat(2, 1fr);
    max-width: 100%;
    gap: 1rem;
    max-height: 420px;
}
.project-card-top {
    grid-area: project;
}

.project-preview {
    max-width: 390px;
    height: auto;
}
.project-icons {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    justify-content: end;
}

.project-icon {
    max-height: 2rem;
}

.card {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: 
    "project"
    "icons";
    padding: 2rem;
    background-color: white;
    max-height: 400px;

}

.announcements-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-users-container {
    display: grid;
}