

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar maincontent";
}

.header {
    grid-area: header;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.top-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "search user-info";
}

.search-bar-container {
    grid-area: search;
}

.bottom-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.share-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sidebar {
    grid-area: sidebar;
    background-color: lightpink;
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
}

.main-content {
    background-color: lightgreen;
    grid-area: maincontent;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "projects side";
}

.projects-section {
    grid-area: projects;
}

.projects-side {
    grid-area: side;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.project-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.announcements-content {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.trending-users-container {
    display: grid;
}